.form {
  div {
    margin: 1em;
    display: flex;
    flex-direction: column;
  }

  label {
    color: #f65261;
    font-size: 1em;
    padding: 3px 0;
    font-weight: inherit;
  }

  input, select {
    background-color: #424242;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
  }

  select {
    text-transform: capitalize;
  }

  .buttons-frm {
    flex-direction: row;
    text-transform: capitalize;
    justify-content: flex-end;
    margin-top: 3em;

    input, button {
      background-color: #f65261;
      color: inherit;
      padding: 1em 3em;
      border: 1px solid #f65261;
      border-radius: .5em;
      font-size: 1em;
      text-transform: uppercase;
      margin-left: 1em;
    }

    input:first-child{
      background-color: transparent;
      color: #f65261;
    }
  }
}

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
 */

@media only screen and (max-width: 1280px) {
  .form {
    div {
      margin: 1em;
    }

    label {
      font-size: 12px;
      padding: 3px 0;
    }

    input, select {
      padding: 5px;
      border-radius: 3px;
      font-size: 1em;
    }

    .buttons-frm {
      margin-top: 1em;

      input, button {
        background-color: #f65261;
        color: inherit;
        padding: 5px;
        border: 1px solid #f65261;
        border-radius: .5em;
        font-size: 1em;
        text-transform: uppercase;
        margin-left: 1em;
      }
    }
  }
}