.sort-by {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sort-by select {
	text-transform: inherit;
    background-color: inherit;
    color: inherit;
    border: none;
    padding: 0 .5em;
}

/*
TODO: change arrow color;
http://jsfiddle.net/ztayse92/
 */