.search-section {
	margin: 4em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.search-box {
	display: flex;
	margin: 4em 0;
}

.search-section * {
	border-radius: 4px;
}

.search-section label{
	align-self: flex-start;
	font-size: 2em;
	font-weight: lighter;
	letter-spacing: 2px;
}

.search-section input{
	flex-grow: 4;
	background-color: #424242;
	border: 0;
	color: white;
    font-size: 1.2em;
    padding: 0 1em;
}

.search-section button{
	flex-grow: 1;
	background-color: #f65261;
}