.container {
	background-color: #232323;
	margin: 0 auto;

	> div {
		margin: 0 4em;
	}
}

.control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em 0;
    border-bottom: 1px solid gray;
}